{% extends "admin/base_site.html" %}
{% load i18n static admin_urls %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="/static/admin/css/enhanced-admin.css">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='users' %}">{% trans 'Users' %}</a>
    &rsaquo; {% trans 'Import Voters' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="csv-upload-section">
        <h3>Import Voters from CSV</h3>
        <p class="help-text">Upload a CSV file with voter details. <a class="template-download" href="/admin/users/voter/download-sample-csv/">Download Sample CSV</a></p>
        <form method="post" enctype="multipart/form-data" class="upload-form">
            {% csrf_token %}
            <div class="file-input-wrapper">
                <input type="file" name="csv_file" accept=".csv" required />
            </div>
            <button type="submit" class="submit-button">Upload</button>
        </form>
    </div>
</div>
{% endblock %}
